body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.prod {
  width: 300px;
}
.prod img {
  width: 100%;
  height: 100%;
}
.flex {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  gap: 3rem;
  flex-wrap: wrap;
}
